*
{
    margin : auto;
    padding: auto;
}

body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header 
{
    background-color: #05386b;
    color: #e7e71c;
    height: 80px;
}

header h1 
{
    padding : 15px 0px;
    text-align: center;
    font-weight: 900;
}

.quote
{
    margin: 20px 0px 40px 0px;
    text-align: center;
}

h3
{
    color: #000;
    align-self: center;
}

table
{
    background-color: #05386b;
    color:#e7e71c;
    font-weight: 500;
    font-size: large;
    border: 3px solid #000;
    width : 60%;
}

table th 
{
    text-align: center;
    padding : 10px;
}

table td 
{
    text-align: center;
    padding : 10px;
    color: #fff;
}

a
{
    text-decoration: none;
    color: #fff;
}

a:hover
{
    color: rgb(5, 176, 5);
}

form  
{
    margin: 50px 0px;
}

input[type$="text"]
{
    display: block;
    padding: 10px 30px;
    margin-bottom: 30px;
    width: 30%;
    height: 30px;
    align-self: center;
    background: #05386b;
    border: solid 2px #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

input[type$="submit"]
{
    display: block;
    padding : 10px 20px;
    align-self: center;
    background: #05386b;
    color: #e7e71c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: bolder;
}

input[type$="submit"]:hover
{
    background-color: rgb(5, 176, 5);
    color: #fff;
}





