{% extends 'base.html' %}

{% block head %}
<title>Task Master - Update</title>
{% endblock %}

{% block body %}
<div class="content">
    <header>
        <h1>Task Master</h1>
    </header>
    <div class="quote">
        <h3>"Plans are nothing. Planning is everything."</h3>
        <h3>- Dwight D Eisenhower</h3>
    </div>

    <form name="form-1" action="/update/{{task.id}}" method="POST">
        <input type="text" name="content" id="content" value="{{task.content}}">
        <input type="submit" name="sub" value="Add Task">
    </form>
</div>
{% endblock %}